<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894169912314-79bsj95cgfhjqd23hdhl0d52v6gca9bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894169912314-79bsj95cgfhjqd23hdhl0d52v6gca9bv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>894169912314-ajs63d63qua10hrkcsiqvid3qjapesoq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGESpsTaCCPegxFL4uFcCC7UERCXeFFq8</string>
	<key>GCM_SENDER_ID</key>
	<string>894169912314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appchat</string>
	<key>PROJECT_ID</key>
	<string>chat-5a0d2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-5a0d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894169912314:ios:3e99213ecf51ce835f8a43</string>
</dict>
</plist>